_ReSharper.DotNetConfigurationFromDatabase/*
_ReSharper.DotNetConfigurationFromDatabase/*
DotNetConfigurationFromDatabase.Tests/bin/*
DotNetConfigurationFromDatabase.Tests/obj/*
DotNetConfigurationFromDatabase/bin/*
DotNetConfigurationFromDatabase/obj/*
